[Unit]
Description=Orchestrator - Baseledger Bridge oracle service

[Service]
WorkingDirectory=/root/.baseledger/orchestrator
ExecStart=/root/.baseledger/orchestrator/baseledger_bridge orchestrator --ethereum-rpc=<infura_link> --baseledger-contract-address=0xc69deddbe38bfc1bb750cc1ddb1d805b339cde0c
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=baseledger-orchestrator
User=root
Environment=COINMARKETCAP_API_TOKEN=<COINMARKETCAP_API_TOKEN>
Environment=COINAPI_API_TOKEN=<COINAPI_API_TOKEN>

# How many seconds to wait for the app to shut down after it receives the initial interrupt signal.
# If the app doesn't shut down in this period, SIGKILL is issued to terminate the app.
# The default timeout for most distributions is 90 seconds.
TimeoutStopSec=90

[Install]
WantedBy=multi-user.target
